
@media screen and (max-width: 576px) {
  
  .header-container{
    margin: 52px 20px;
  }
  .nav-container{
    justify-content: space-between;
  }
  .header-list{
    display: none;
  }
  .header-img{
    display: flex;
    width: 30px;
  }

  .club{
    display: none;
  }
  
/* Button Design */



/* Button Design End */

  .banner-image{
    width: 100%;
    height: auto;
    margin-left: 15%;
  }
  .banner-container{
    margin-top: 96px;
    display: grid;
    justify-content: end;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
 
.bnr-left-img{
  position: absolute;
  top: 140%;
  left: 8%;
  
  height: 74px;
  width: 145px;
}

.bnr-right-img{
   position: absolute;
   top: 100%;
   left: 53%;
   
  height: 74px;
  width: 145px;
}
.banner-right-img-text h2{
  font-size: 25px;
  font-weight: 900;
}
.banner-image-text{
  font-size: 9px;
}

/* .banner-image-container{
  justify-content: center;
} */

.banner-image{
  justify-content: center;
}

.banner-image{
  margin: auto;
}

/* Habits Section */
.habits{
  text-align: center;
  margin: 1px 28px;
}
.habits h2{
  font-size: 2rem;
}

.cart-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* margin: 58px 0; */
}
.cart{
  margin: 40px auto;
}

/* End of Habits Section */

.Run{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 10px 20px;
  gap: 10px;
}
.run-right-img{
  height: 170px;
  width: 287px;
  border-radius: 40px;
  padding: 35px 33px;
 }
.run-left h2{
  font-size: 2rem;
  font-weight: 900;
}

/* ------footer section----- */


.footer-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: start;
  margin: 44px 20px;
  }
  .flist{
    font-weight: 2rem;
  }
  .footer2{
  margin: 20px 0;
  }

/* -- -----------BMI Calculator Chart------------- -- */

  .calculate-contain{
    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .bmi-left{
    margin-right: 0;
      border: 1px dashed orangered;
  }
  .bmi-right{
    margin: 0;
  }

  .calculate-title-phone{
    font-size: 1rem;
    margin-top: 42px;
  }
  .form-con{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-bottom: 15px;
  }
  .form-con1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 15px;
  }


.form-con-text{
  width: 80%;
}
.form-con-text-{
  width: 87%;
}


/* -- -----------BMI Calculator Chart------------- -- */














}







            /* -------For Tablet--------- */

@media screen and (min-width: 576px) and (max-width: 992px) {
  
  .header-container{
    margin: 52px 30px;
  }
  .nav-container{
    justify-content: space-between;
  }
   .list-style{
    font-size: 16px;
    gap: 10px;
    width: 358px;
    height: 43px;
   }
   .list{
    /* padding: 0 22px; */
    width: 46px;
    height: 19px;
  }

/* Start of Banner Section */

  .banner-container{
    border: 1px solid gold;
    margin-top: 96px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  
  
.bnr-left-img{
  position: absolute;
  top: 230%;
  left: 10%;
}

.bnr-right-img{
   position: absolute;
   top: 125%;
   right: 5%;
}

.banner-right-img-text h2{
  font-size: 30px;
  font-weight: 900;
}
.banner-image-text{
  font-size: 9px;
}

/* Habits Section */

.habits{
  text-align: center;
  margin: 1px 28px;
}
.habits h2{
  font-size: 2rem;
}

.cart-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}



.Run{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 72px 30px;
}
.run-right{
  left: 12px;
}
.run-right-img{
  height: 312px;
  width: 80%;
  border-radius: 40px;
 }
 .run-left h2{
  font-size: 2rem;
}

.run-left p{
  font-size: 14px;
}










}